{
    "deidentifyTemplate": {
        displayName: "${display_name}",
        description: "${description}",
        "deidentifyConfig": {
            "recordTransformations": {
                "fieldTransformations": [
                    {
                        "fields": [
                            {
                                "name": "ein"
                            },
                            {
                                "name": "name"
                            },
                            {
                                "name": "street"
                            },
                            {
                                "name": "organization"
                            }
                        ],
                        "primitiveTransformation": {
                            "cryptoDeterministicConfig": {
                                "cryptoKey": {
                                    "kmsWrapped": {
                                        "cryptoKeyName": "${crypto_key}",
                                        "wrappedKey": "${wrapped_key}"
                                    }
                                }
                            }
                        }
                    }
                ]
            }
        }
    },
    "templateId": "${template_id}"
}
